@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Фикс для Safari на iOS */
html {
  background-color: #f3f4f6; /* твой серый цвет */
  min-height: -webkit-fill-available;
}

body {
  background-color: #f3f4f6;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientShift {
  background: linear-gradient(
    90deg,
    #3b82f6,  /* синий */
    #9333ea,  /* фиолетовый */
    #f97316,  /* оранжевый */
    #9333ea,  /* фиолетовый */
    #3b82f6   /* синий */
  );
  background-size: 300% 100%;
  animation: gradientShift 6s ease-in-out infinite;
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-scale {
  animation: pulseScale 2s ease-in-out infinite;
}